@model Books.Models.CategoryBook

@{
    ViewData["Title"] = "Оновлення категорії";
}

<h2 class="text-info">Оновлення категорії</h2>

<form method="post" asp-action="Update">
    <input asp-for="CategoryId" hidden>
    <div class="form-group row">
        <div class="col-4">
            <label asp-for="Name"></label>
        </div>
        <div class="col-8">
            <span class="text-danger" asp-validation-for="Name"></span>
            <input class="form-control" asp-for="Name" type="text" name="Name">
        </div>
    </div>
    <br>
    <div class="form-group row">
        <div class="col-4">
            <label asp-for="DisplayOrder"></label>
        </div>
        <div class="col-8">
            <span class="text-danger" asp-validation-for="DisplayOrder"></span>
            <input class="form-control" asp-for="DisplayOrder" type="number" name="DisplayOrder">
        </div>
    </div>
    <br>
    <div class="form-group row">
        <div class="col-8 offset-4 row">
            <div class="col">
                <input class="btn btn-info w-100" type="submit" value="Оновити">
            </div>
            <div class="col">
                <a class="btn btn-success w-100" asp-action="Index">Назад</a>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}